{% extends 'layouts/base.html' %}

{% block title %} Notices {% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
        <div class="header text-center">
          <h2 class="title mt-n3">Your Latest Actions</h2>  
        </div>
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">Your Milestone</h4>
              </div>
              <hr>
              <div class="card-body">
                <h2>Completed tasks</h2>
                <p>This week you completed: <span>{{tasks}} Tasks</span></p>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title">What is scheduled</h4>
              </div>
              <hr>
              <div class="card-body">

                <div class="alert alert-info">
                  <button type="button" aria-hidden="true" class="close">
                    <i class="now-ui-icons ui-1_simple-remove"></i>
                  </button>
                  <span>
                    <b>Due payments</b> <br> Payment of Abizera Victor</span>
                </div>
                <hr>
                
              </div>
            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
