{% extends 'layouts/base.html' %}
{% load static %}
{% load humanize %}
{% load widget_tweaks %}
{% block title %}Transactions{% endblock title %}

<!-- Specific CSS goes HERE -->
{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> This month transactions</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>
                        Ref Code
                      </th>
                      <th>
                        Account
                      </th>
                      <th>
                        Category
                      </th>
                      <th class="text-right">
                        Amount
                      </th>
                      <th class="text-right">
                        Actions
                      </th>
                    </thead>
                    <tbody>
                      
                      {% for transaction in transactions %}
  
                      <tr>
                        <td>
                          {{transaction.ref_number}}
                        </td>
                        <td>
                          {{transaction.account.name}}
                        </td>
                        <td>
                          {{transaction.category.name}}
                        </td>
                        <td class="text-right">
                          {{transaction.amount|intcomma}} Rwf
                        </td>
                        <td class="text-right">
                          Edit or <a href="{{transaction.delete_url}}">Delete</a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
                <div class="button-group ml-3 mt-2">
                  <button class="btn btn-info" id="addTransaction" data-target="modal" data-toggle="addTransaction">New Transaction</button>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

{% endblock content %}

<!-- Specific JS goes HERE --> 
{% block javascripts %}{% endblock javascripts %}
