{% load static %}
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<!-- CSS Files -->
<link rel="stylesheet" href="{% static 'assets/css/bootstrap.min.css' %}" class="css">
<link href="{% static 'assets/css/now-ui-dashboard.css' %}" rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />
<link href="{% static 'assets/demo/demo.css' %}" rel="stylesheet" />